@media screen and (max-width: 680px){
    main .datos{
    display: block;
    }
    main .datos .info{
        margin: auto 20%;
        
    }
}

@media screen and (max-width: 500px){
         td,th,tr{
            padding: 0px;
           }
        table{
            margin: 0%;
        }   
    } 
@media screen and (max-width: 720px){ 
        .cartas{
            flex-direction: column;
            align-items: center;
        }
        .portada{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 10% !important;
        }
        .portada article{
            width: 100%;
        }
}    
