*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body{
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: map-get($colores , background);
}   
header{
    display: grid;
    grid-template-rows: 125px 40px;
    background-color: map-get($colores , celeste);
}
#logo{
        @include logo (flex, center, center);
        background-color: map-get($colores , logo);
}
main{
    text-align: center;
    min-height: calc(100vh - 363px);
}
article{
    padding: 15px;
    display: inline-block;
    width: 50%;
    font-size: initial;
} 
h1{
    font-size: 35px;
    animation: Titulos ease-in-out 1s;
}
@keyframes Titulos{
    0% { 
        transform: scale(0);
        opacity: 0; 
    }  
    50%{
        transform: scale(1.1);
    }
    65%{
        transform: scale(1);
    }  
    100%{
         opacity: 1;
    }
} 
       
img:hover{
    transform: scale(1.05) ;
    transition-duration: 0.5s;
}
footer{
    margin: 15px;
}    
main>table{
    margin: auto;
    margin-top: 30px;
    caption-side: top;
}
caption{
    font-weight: bold;
    font-size: 24px;
    line-height: 70px;
    animation: Titulos ease-in-out 1s;
    text-align: center;
}    
td, th, tr{
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    padding: 15px;
}